/*
===========================================
SPARKLE STARTER
===========================================
*/
.make-bg-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../images/BG_Laptop.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.make-bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75) 35%, rgba(173, 210, 230, 1.0));
}

.make-static {
    position: relative
}

.make-fixed-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}